body{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  width: 80%;
  
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 20px;

  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-left: 10px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
  margin: -3px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin-left: 10px;
}